.How {
  padding: 40px 0 80px;
    &-image {
        position: relative;
        &-back {
            display: flex;
            width: 100%;
            height: 3px;

            &-one {
                width: 50%;
                background: linear-gradient(90deg, #3366FF 0%, #3366FF 86.98%, #00FFB2 100%);
                border-radius: 26px;
            }

            &-two {
                width: 50%;
                background: #EEF1FA;
                border-radius: 40px;
            }
        }

        &-round {
            position: relative;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;

            .How-image-round-item-box {
                width: 16px;
                height: 16px;
                display: block;
                background: #FFFFFF;
                border: 2px solid #2354E6;
                border-radius: 50%;
            }
        }

        &-content {
            padding-top: 12px;
            font-family: Gate_Sans_Medium;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: #8D93A6;
            text-align: center;
        }

        &-footer {

            &-title {
                text-align: left;
                font-family: Gate_Sans_Bold;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 1.5;
                color: #04091A;
                margin: 16px 0 24px;
            }

            &-content {
                text-align: left;
                font-family: Gate_Sans_Regular;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 1.5;
                color: #8D93A6;
            }

        }
    }
}

@media (max-width: 768px) {
    .How {
      padding: 24px 0;
        &-container {
          width: 100%;
          margin-top: 24px;
          &-ex {
            position: relative;
            width: 100%;
            &-border {
              position: absolute;
              top: 0;
              left: 12px;
              width: 4px;
              height: 100%;
              border-radius: 26px;
              background: linear-gradient(#3366FF 0%, #3366FF 50%, #00FFB2 100%);
            }
            &-item {
              width: 100%;
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: row;
              &-left {
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                width: 20%;
                text-align: right;
                margin-right: 74rem;
                &-time {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-family: Gate-Sans;
                  font-style: normal;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 1.5;
                  color: #606880;
                }
              }
              &-block {
                width: calc(100% - 32px);
                padding: 0 16px;
                &-right {
                  position: relative;
                  display: flex;
                  justify-content: flex-start;
                  align-items: flex-start;
                  flex-direction: column;
                  color: #FFFFFF;
                  &-title {
                    margin-bottom: 12px;
                    font-family: Gate-Sans;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 14px;
                    color: #8D93A6;
                  }
                  &-date{
                    color: #04091A;
                    font-family: Gate-Sans-Bold;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1.5;
                  }
                  &-content {
                    margin-bottom: 48px;
                    font-family: Gate-Sans;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.5;
                    color: #606880;
                  }
                  &-title:before{
                    position: absolute;
                    left: -12px;
                    content:"";
                    display: inline-block;
                    height: 16px;
                    width: 16px;
                    border-radius: 50%;
                    background: #1F2433;
                    border: 2px solid #2354E6;
                    margin-right: 10px;
                    z-index: 999;
                  }
                  &-title::after {
                    position: absolute;
                    top: 4px;
                    left: -8px;
                    content: '';
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: #FFFFFF;
                    z-index: 9999;
                  }
                }
                &-right {
                  padding-left: 16px;
                }
              }
            }
          }
        }
    
      }
}

.classic-dark {
    .How {

        &-image {

            &-back {

                &-one {
                    background: linear-gradient(90deg, #3366FF 0%, #3366FF 86.98%, #00FFB2 100%);
                }

                &-two {
                    background: #292F40;
                }
            }

            &-round {
                .How-image-round-item-box {

                    border: 2px solid #3366FF;
                }
            }

            &-content {
                color: #8D93A6;
            }

            &-footer {
                &-title {
                    color: #FFFFFF;
                }

                &-content {
                    color: #8D93A6;
                }

            }
        }
    }
}
