.Body_Learn {
  padding: 40rem 0;

  .Learn_Content {
    margin-top: 40rem;
    .Learn_Box {
      background: #F8FAFD;
      box-shadow: 0px 4px 14px rgba(19, 60, 158, 0.06);
      border-radius: 8rem;
      padding-bottom: 24rem;
      cursor: pointer;

      .Learn_Img {
        width: 100%;

        img {
          width: 100%;
          border-radius: 8rem;
          min-height: 146rem;
          display: block;
        }
      }


      .Learn_tit {
        margin-top: 16rem;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.4rem;
        color: #11AD7A;
        display: flex;
        align-items: center;

        span {
          display: block;
          width: 4rem;
          height: 4rem;
          background: #11AD7A;
          margin-right: 4rem;
        }
      }

      .Learn_orange {
        color: #F27900;

        span {
          background: #F27900;
        }
      }

      .Learn_red {
        color: #CC3D3D;

        span {
          background: #CC3D3D;
        }
      }

      .Learn_subtitle {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #04091A;
        margin-top: 8rem;

        word-break: break-all;
        white-space: normal;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;


        a {
          color: #04091A;

          &:hover {
            color: #2354E6;
          }
        }

      }

      .Learn_Footer {
        padding: 0 24rem;
      }


    }

  }


  .articles {
    padding-top: 120rem;
  }

}
.learn-article-title {
    font-weight: 600;
    font-size: 36rem;
    line-height: 1.5;
    color: #04091A;
    margin-bottom: 40rem;
}

.classic-dark {
  .Body_Learn {
    .Learn_Content {
      .Learn_Box {
        background: #1F2433;
        box-shadow: 0px 4px 14px rgba(19, 60, 158, 0.06);

        .Learn_subtitle {
          color: #FFFFFF;

          a {
            color: #FFFFFF;

          }

          &:hover {
            color: #3366FF;
          }
        }
      }
    }
  }
}


@media (max-width: 767px) {

  .Body_Learn {
    padding: 24px 0;

    .Learn_Content {
      margin-top: 24px;

      .Learn_Footer {
        padding: 0 16px;
      }
      .Learn_Box {
        padding-bottom: 16px;

        .Learn_tit {
          margin: 8px 0;
          font-size: 12px;

          span {
            width: 4px;
            height: 4px;
            margin-right: 4px;
          }

        }

        .Learn_subtitle {
          width: 100%;
          margin-top: unset;
          font-size: 14px;
        }
      }
    }

    .articles {
      padding-top: 48px;
    }

  }

}